body {
    background-color: #505555;
    font-family: Helvetica;
    color: #8fa7bf;
}

.dark {
    background: #020202 none repeat scroll 0 0;
}

.light {
    background: #34495e none repeat scroll 0 0;
}

#page {
}

.block {
    border: 2px solid #333;
    padding-top: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    box-sizing: border-box;
}

.block.selected {
    border: 5px solid #297;
}

.block ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

.block a {
    font-weight: bold;
    text-decoration: none;
}

.block a:link {
    color: #1abc9c;
}

.block a:visited {
    color: #1abc9c;
}

.block a:active {
    color: #1abc9c;
}

.block a:hover {
    color: #e0e000;
}

.block li a {
    cursor: pointer;
}

.block li .fa-trash {
    margin-left: 5px;
}

.hidden {
    display: none;
}
