<!-- Page -->
<div id="page">
    <!-- Loop over blocks -->
    <div class="block" style="{{ block.style }}" ng-repeat="block in blocks">
        <div ng-class="{'hidden': block.editTitle }">
            <div ng-if="block.id != 0" class="block-title" ng-click="block.editTitle = true;">
                {{ block.title || "(no title)" }}
            </div>
        </div>
        <div ng-class="{'hidden': !block.editTitle }">
            <input type='text' placeholder='Title' ng-model='block.title'>
            <input type='button' value='Ok' ng-click="onSaveBlock(block);">
        </div>
        <ng-include src="'partials/block-'+ block.type + '-edit.html'"></ng-include>
        <a ng-if="block.id != 0" ng-click="onCreateLink(block);"><i class="fa fa-plus-circle"></i></a>
        <a ng-if="block.id != 0" ng-click="onDeleteBlock(block);" class="del-block"><i class="fa fa-trash"></i></a>
        <a ng-if="block.N" ng-click="onSwapBlocks(block, block.posx, block.posy-1);" class="btn-north"><i class="fa fa-refresh"></i></a>
        <a ng-if="!block.N" ng-click="onCreateBlock(block.posx, block.posy-1);" class="btn-north"><i class="fa fa-plus-square"></i></a>
        <a ng-if="!block.S" ng-click="onCreateBlock(block.posx, block.posy+1);" class="btn-south"><i class="fa fa-plus-square"></i></a>
        <a ng-if="block.E" ng-click="onSwapBlocks(block, block.posx+1, block.posy);" class="btn-east"><i class="fa fa-refresh"></i></a>
        <a ng-if="!block.E" ng-click="onCreateBlock(block.posx+1, block.posy);" class="btn-east"><i class="fa fa-plus-square"></i></a>
        <a ng-if="!block.W" ng-click="onCreateBlock(block.posx-1, block.posy);" class="btn-west"><i class="fa fa-plus-square"></i></a>
    </div>
</div>
