<!-- Page -->
<div id="page">
    <!-- Loop over blocks -->
    <div class="block" style="{{ block.style }}" ng-repeat="block in blocks">
        <div ng-class="{'hidden': block.editTitle }">
            <div ng-if="block.id != 0" class="block-title" ng-click="block.editTitle = true;">
                {{ block.title || "(no title)" }}
            </div>
        </div>
        <div ng-class="{'hidden': !block.editTitle }">
            <input type='text' placeholder='Title' ng-model='block.title'>
            <input type='button' value='Ok' ng-click="onSaveBlock(block);">
        </div>
        <span ng-if="block.id == 0">
            Welcome in edit view, {{ username }}!&nbsp;
            <a ng-click="viewMode()" ng-mouseover="profile.message='Switch to view mode'"><i class="fa fa-eye"></i></a>&nbsp;
            <br/><br/>
            <div ng-bind-html="profile.message"></div>
        </span>
        <ul ng-if="block.id != 0">
            <li ng-repeat="link in block.links">
                <div ng-class="{'hidden': link.editing }">
                    <a ng-click="link.editing = true;">{{ link.title }}</a>
                    <a ng-click="onDeleteLink(block, link);"><i class="fa fa-trash"></i></a>
                </div>
                <div ng-class="{'hidden': !link.editing }">
                    <input type='text' placeholder='Title' ng-model='link.title'><br/>
                    <input type='text' placeholder='URL' ng-model='link.url'>
                    <input type='text' placeholder='Description' ng-model='link.description'>
                    <input type='button' value='Ok' ng-click="onSaveLink(link);">
                </div>
            </li>
        </ul>
        <a ng-if="block.id != 0" ng-click="onCreateLink(block);"><i class="fa fa-plus-circle"></i></a>
        <a ng-if="block.id != 0" ng-click="onDeleteBlock(block);" class="del-block"><i class="fa fa-trash"></i></a>
        <a ng-if="block.N" ng-click="onSwapBlocks(block, block.posx, block.posy-1);" class="btn-north"><i class="fa fa-refresh"></i></a>
        <a ng-if="!block.N" ng-click="onCreateBlock(block.posx, block.posy-1);" class="btn-north"><i class="fa fa-plus-square"></i></a>
        <a ng-if="!block.S" ng-click="onCreateBlock(block.posx, block.posy+1);" class="btn-south"><i class="fa fa-plus-square"></i></a>
        <a ng-if="block.E" ng-click="onSwapBlocks(block, block.posx+1, block.posy);" class="btn-east"><i class="fa fa-refresh"></i></a>
        <a ng-if="!block.E" ng-click="onCreateBlock(block.posx+1, block.posy);" class="btn-east"><i class="fa fa-plus-square"></i></a>
        <a ng-if="!block.W" ng-click="onCreateBlock(block.posx-1, block.posy);" class="btn-west"><i class="fa fa-plus-square"></i></a>
    </div>
</div>
