<!-- Page -->
<div id="page">
    <!-- Loop over blocks -->
    <div class="block" style="{{ block.style }}" ng-repeat="block in blocks">
        <div class="block-title" ng-if="block.title">{{ block.title }}</div>
        <span ng-if="block.id == 0">
            Welcome {{ username }}!&nbsp;
            <a ng-click="editMode()" ng-mouseover="profile.message='Switch to edit mode'"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
            <a ng-click="showDuplicate = !showDuplicate" ng-mouseover="profile.message='Duplicate this profile'"><i class="fa fa-files-o"></i></a>
            <div ng-class="{'hidden': !showDuplicate }">
                <input type='text' placeholder='Name' ng-model='duplicateName'><br/>
                <input type='button' value='Ok' ng-click="onDuplicate(duplicateName);">
            </div>
            <br/><br/>
            <div ng-bind-html="profile.message"></div>
        </span>
        <ul ng-if="block.id != 0">
            <li ng-repeat="link in block.links">
                <a href="{{ link.url }}" ng-mouseover="profile.message=link.description">{{ link.title }}</a>
            </li>
        </ul>
    </div>
</div>
